@page
@model CuidadoRemoto.Frontend.FormVeterinarioModel
@{
    ViewData["Title"] = "Añadir Veterinario";
}
@{
    <html>

    <head>
        <link rel="stylesheet" href="FormVisita.cshtml"/>
        <link rel="stylesheet" href="site.css" />

    </head>

    <body>

        <div id="divFormTitle" class="container col-md-6">
            <p>REGISTRAR VETERINARIO</p>
        </div>
        <div id="divForm" class="container col-md-6">

        <form class="row g-3">
            <div class="col-md-6 offset-md-3">
              <label for="inputIdenti" class="form-label">Documento de Identificación</label>
              <input type="text" class="form-control" id="inputIdenti">
            </div>
            <div class="col-md-6">
              <label for="inputNombres" class="form-label">Nombres</label>
              <input type="text" class="form-control" id="inputNombres" required>
            </div>
            <div class="col-md-6">
              <label for="inputApe" class="form-label">Apellidos</label>
              <input type="text" class="form-control" id="inputApe" required>
            </div>
            <div class="col-md-6">
                <label for="inputDire" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="inputDire" required>
            </div>
            <div class="col-md-6">
                <label for="inputTel" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="inputTel">
            </div>
              <div class="col-md-4 offset-md-4">
                <label for="inputTarj" class="form-label">Tarjeta Profesional</label>
                <input type="text" class="form-control" id="inputTarj" required>
              </div>
              
            <div id="botonesForm" class="col-md-12 offset-md-2">
              <button type="submit" class="btn btn-success col-md-2">GUARDAR</button>
              <button type="submit" class="btn btn-success col-md-2">EDITAR</button>
              <button type="submit" class="btn btn-success col-md-2">BUSCAR</button>
              <button type="submit" class="btn btn-danger col-md-2">ELIMINAR</button>
            </div> 
            <div id="" class="col-md-6 offset-md-2">
                <button id="botonRegistrarVisita" type="submit" class="btn btn-success "><a asp-area="" asp-page="/Formularios/FormVisita">REGISTRAR VISITA</a></button>
              </div> 
            
          </form>
      </div>
    </body>

    </html>
    
}
